.h-page {
  text-align: center;
}
.menu {
  display: flex;
  letter-spacing: 1px;
  margin-top: 0.8%;
  margin-left: 1%;
  font-weight: 200;
}
.home {
  margin-left: 5%;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
}
.home:hover {
  cursor: pointer;
}
.about {
  margin-left: 5%;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
}
.about:hover {
  cursor: pointer;
}
.contact {
  margin-left: 5%;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
}
.contact:hover {
  cursor: pointer;
}
.in {
  margin-left: 57%;
  margin-top: 1.5%;
  height: 2.2rem;
  background-color: white;
  border-radius: 9px;
  width: 5rem;
  font-weight: bold;
}
.up {
  margin-left: 1%;
  margin-top: 1.5%;
  height: 2.2rem;
  background-color: white;
  border-radius: 9px;
  width: 5rem;
  font-weight: bold;
}
.middle {
  display: flex;
}
.name-1 {
  font-size: 3.8rem;
  height: 14rem;
  width: 30rem;
  margin-left: 18%;
  margin-top: 20%;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}
.intro {
  font-size: 1.08rem;
  text-align: left;
  margin-left: 18%;
  width: 30rem;
  margin-top: -17.5%;
  font-weight: 450;
  font-family: 'Roboto', sans-serif;
}
.go {
  height: 3rem;
  width: 9rem;
  margin-left: -34%;
  margin-top: 3%;
  background-color: black;
  border-radius: 0.5rem;
  color: white;
  box-shadow: inset 0 0 0 0;
  transition: ease-out 0.3s;
  font-family: "Roboto Mono", monospace;
}
.let {
  font-size: 1rem;
  margin-top: 9.5%;
}
.go:hover {
  cursor: pointer;
  box-shadow: inset 207px 0 0 0 #4ad295;
  color: #040c18;
}
.img-1 {
  height: 56rem;
  margin-top: -12%;
  margin-left: 6%;
  width: 56rem;
  margin-bottom: -8%;
}
.icon {
  display: flex;
  margin-left: 17.4%;
  margin-top: 18%;
  width: 100%;
}
.play {
  display: flex;
  width: 35%;
  font-size: 2rem;
}
.play:hover {
  cursor: pointer;
}
.play-2 {
  margin-left: 20%;
  display: flex;
  width: 28%;
  font-size: 2rem;
}
.play-2:hover {
  cursor: pointer;
}
.para {
  margin-left: 2%;
  margin-top: 5%;
  height: 1.2rem;
  font-family: "Roboto Mono", monospace;
}
.para:hover {
  cursor: pointer;
}
.para-2 {
  margin-left: 2%;
  margin-top: 5%;
  height: 1.2rem;
  font-family: "Roboto Mono", monospace;
}
.para-2:hover {
  cursor: pointer;
}
.scroll {
  margin-left: 83%;
  margin-top: 1.7%;
  font-weight: bold;
  position: absolute;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-family: "Roboto Mono", monospace;
}
.a-icon {
  margin-left: 90.8%;
  margin-top: 2.65%;
  position: absolute;
}
.play1{
  background-color: white;
  border: none;
  margin-left: 1%;
}
.play{
  height: 2rem;
  width: 2rem;
}
.play2{
  background-color: white;
  border: none;
  margin-left: 15%;
}
.down1{
  height: 1.2rem;
  width: 1.2rem;
}
.down{
  background-color: white;
  border: none;
  margin-left: 90%;
  position: absolute;
  margin-top: 1.4%;
}
