.h-page{
    text-align: center;
}
.menu{
    display: flex;
    letter-spacing: 1px;
    margin-top: 0.8%;
    margin-left: 1%;
}
.home{
    margin-left: 5%;
    font-size: 1.1rem;
}
.home:hover{
    cursor: pointer;
}
.about{
    margin-left: 5%;
    font-size: 1.1rem;
}
.about:hover{
    cursor: pointer;
}
.contact{
    margin-left: 5%;
    font-size: 1.1rem;
}
.contact:hover{
    cursor: pointer;
}
.in{
    margin-left: 57%;
    margin-top: 1.5%;
    height: 2.2rem;
    background-color: white;
    border-radius: 9px;
    width: 5rem;
    font-weight: bold;
}
.up{
    margin-left: 1%;
    margin-top: 1.5%;
    height: 2.2rem;
    background-color: white;
    border-radius: 9px;
    width: 5rem;
    font-weight: bold;
}
.middle{
    display: flex;
}
.name-1{
    font-size: 4rem;
    height: 14rem;
    width: 30rem;
    margin-left: 18%;
    margin-top: 13%;
    text-align: left;
}
.intro{
    font-size: 1.1rem;
    text-align: left;
    margin-left: 18%;
    width: 30rem;
    margin-top: -15%;
    font-weight: 450;
}
.go{
    height: 3rem;
    width: 9rem;
    margin-left: -34%;
    margin-top: 3%;
    background-color: black;
    border-radius: 0.5rem;
    color: white;
    box-shadow: inset 0 0 0 0 ;
    transition: ease-out 0.3s;
    font-family: 'Roboto Mono', monospace;
}
.let{
    font-size: 1rem;
    margin-top: 9.5%;
}
.go:hover{
    cursor: pointer;
    box-shadow: inset 207px 0 0 0 #4AD295;
    color: #040C18;
}
.img-1{
    height: 62rem;
    margin-top: -15%;
    margin-left: 4%;
    width: 59rem;
    margin-bottom: -8%;
}
.icon{
    display: flex;
    margin-left: 17.4%;
    margin-top: 18%;
    width: 100%;
}
.play{
    display: flex;
    width: 35%;
    font-size: 2rem;
}
.play:hover{
    cursor: pointer;
}
.play-2{
    margin-left: 20%;
    display: flex;
    width: 28%;
    font-size: 2rem;
}
.play-2:hover{
    cursor: pointer;
}
.para{
    margin-left: -27%;
    margin-top: 8%;
    height: 1.2rem;
    font-family: 'Roboto Mono', monospace;
}
.para:hover{
    cursor: pointer;
}
.para-2{
    margin-left: -20%;
    margin-top: 8%;
    height: 1.2rem;
    font-family: 'Roboto Mono', monospace;
}
.para-2:hover{
    cursor: pointer;
}
.scroll{
    margin-left: 84%;
    margin-top: 2.7%;
    font-weight: bold;
    position: absolute;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-family: 'Roboto Mono', monospace;
}
.a-icon{
    margin-left: 90.8%;
    margin-top: 2.65%;
    position: absolute;
}