.mid{
    display: flex;
}
.head{
    text-align: left;
    margin-left: 7%;
    font-size: 4rem;
    margin-bottom: 1%;
    margin-top: 1.8%;
}
.cover{
    height: 38rem;
    margin-left: 12%;
    margin-bottom: -2%;
}
.button{
    margin-left: 25%;
    margin-top: 1%;
    margin-bottom: 4%;
}
.bgnr{
    height: 4rem;
    width: 18rem;
    margin-top: 1%;
    background-color: #4AD295;
    border-radius: 0.5rem;
    color: black;
    font-size: 1rem;
    box-shadow: inset 0 0 0 0 ;
    transition: ease-out 0.3s;
    font-family: 'Roboto Mono', monospace;
}
.bgnr:hover{
    cursor: pointer;
    box-shadow: inset 285px 0 0 0 black;
    color: white;
}
.power{
    height: 4rem;
    width: 18rem;
    margin-top: 5%;
    background-color: #4AD295;
    border-radius: 0.5rem;
    color: black;
    font-size: 1rem;
    box-shadow: inset 0 0 0 0 ;
    transition: ease-out 0.3s;
    font-family: 'Roboto Mono', monospace;
}
.power:hover{
    cursor: pointer;
    box-shadow: inset 285px 0 0 0 black;
    color: white;
}