.card-1{
    width: 15rem;
    border-style: solid;
    height: 24rem;
    margin-left: 2%;
    margin-top: 2%;
}
.asan-1{
    width: 13rem;
}
.btn{
    margin-top: -10%;
    font-size: 4rem;
    text-align: left;
    margin-left: 85%;
}
.asan-para-1{
    margin-top: -5%;
    text-align: left;
    margin-left: 1%;
}
.asan-name-1{
    text-align: left;
    margin-left: 1%;
}