.card-1{
    width: 15rem;
    border-style: solid;
    border-width: 1.2px;
    border-radius: 3%;
    height: 20rem;
    margin-left: 16%;
    margin-top: 2%;
}
.card-2{
    width: 15rem;
    border-style: solid;
    border-width: 1.2px;
    border-radius: 3%;
    height: 20rem;
    margin-left: 10%;
    margin-top: 2%;
}
.card-3{
    width: 15rem;
    border-style: solid;
    border-width: 1.2px;
    border-radius: 3%;
    height: 20rem;
    margin-left: 10%;
    margin-top: 2%;
}
.asan-1{
    width: 10rem;
    height: 10rem;
}
.btn{
    margin-top: -6%;
    font-size: 3rem;
}
.asan-para-1{
    margin-top: -7%;
}
.asan-name-1{
    margin-top: -1%;
}
.group-1{
    display: flex;
    margin-top: -0.7%;
}
.group-2{
    display: flex;
}